aiohttp==3.2.1
async-timeout==3.0.0
asyncio==3.4.3
attrs==18.1.0
discord==0.0.2
discord.py==1.0.0a0
idna==2.6
jellyfish==0.6.1
lazy-object-proxy==1.3.1
mccabe==0.6.1
multidict==4.3.1
requests==2.18.4
urllib3==1.22
websockets==3.4

